.loader-con{
    width: 50%;
    height: 70%;
    background: transparent;
    margin: auto;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid red; */

}

.loading-text{
    color: #db2693;
    font-size: 2em;
    font-weight: 500;
    opacity: .7;
}