.plus-icon-con{
    width: fit-content;
    height: fit-content;
    position: relative;
}

.plus-icon{
    font-size: 18px;
}

.plus-icon-hover{
    width: 150px;
    position: absolute;
    top: 18px;
    right: 0;
    font-size: 10px;
    font-weight: 400;
    /* transition: all ease-in-out 0.7s; */

}
