*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body{
  background: #f8f8ff;

}

.no-data-con{
  margin-top: 20px;
}

.no-data{
  font-size: 1em;
}